hr{
    margin: 0;
}

.rodape{
    padding: 1em;
}

.lista-rodpe{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .lista-rodpe{
        display: block;
    }
    
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;

    }   

    .lista_link{
        color: var(--cinza-prncipal);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo{
        fonta-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape__titulo{
        font-size: 24px;

    }
}

@media screen and (min-width: 1728px) {

    .lista-rodpe{
        border-left: solid 1px var(--cinza-claro);
        padding-left: 2em;
    }

    .rodape{
        padding: 3em 0;
    }
    
}